body{
    width: 100vw;
    height: 100vh;
    background: grey;
}


/************************************/
/*             TOPBAR               */
/************************************/
#navTopBar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;left: 0;right: 0;
}
#navTopBar ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;


}
.owl-wrapper-outer{
    border-radius: 5px;
}
#navTopBar li{
    list-style: none;
}
#navTopBar li:hover{
    cursor: pointer;
    opacity: 0.8;
}
#owl-demo{
    max-width: 600px;
}
.btn{
    cursor: pointer;
}
/************************************/
/*             LEFTBAR              */
/************************************/
#navLeftBar{
    position: fixed;
    left: 0;top: 0;bottom: 0;
    display: flex;
    align-items: center;
}
#navLeftBar ul{
    margin: 0;
    padding: 0;
}

#navLeftBar li{
    list-style: none;
}
.circle{
    border: 5px solid rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.5);
    margin:10px;
    width:100px;
    height:100px;
    border-radius:100px;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle:hover{
    background: rgba(255,255,255,0.7);
    cursor: pointer;
}

/************************************/
/*            MENU DECO             */
/************************************/
#navDeco{
    position: fixed;
    top: 0;right: 0;
    background: rgba(125,125,125,1);
    cursor: pointer;
}
.decoSubmenu{
    display: none;
    position: fixed;
    top: 70px;right: 20px;
}
.decoSubmenu li{
    list-style: none;
}
.decoSubmenu li a{
    display: block;
}
.decoSubmenu li a:hover{
    background: red;
}
/************************************/
/*          MENU Trophee            */
/************************************/
#navTrophee{
    position: fixed;
    bottom: 0;right: 0;
    background: pink;
}
/************************************/
/*         MENU NavRetour           */
/************************************/
#navReturn{
    position: fixed;
    bottom: 0;left: 0;
    background: pink;
}

/*******************************/
/* MEDIA QUERIES POUr TABLETTE */
/*******************************/
@media screen and (max-width: 920px){
    /*// reduction des boutons repas*/
    .circle{
        margin:5px;
        width:70px;
        height:70px;
        border-radius:700px;
        text-align:center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*// reduction des icones d'aliment*/
    #navTopBar{
        height: 20px;
    }
}
