#container_assiette {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#assiette{
    height: 80%;
    max-height: 90vw;
    width: auto;
}
/*#container_carte {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

/*#container_carte img{
    height: 80%;
    max-height: 90vw;
    width: auto;
}*/
.containerZoneDrag{
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#dragZone {
	position: absolute;
	height: 45%;
	margin-top: -14%;
	width: 30%;
	margin-left: -17%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.aliments img{
    height: 200px;
    width: 200px;
}
