

/************FORMULAIRE ZONE PEDAGO*******************/
/*Etiquette des fomulaires*/
.labelPedago{
	margin-top: 5px;
	margin-bottom: 5px;
}





/*Input des fomulaires*/
.inputPedago{
	margin-top: 5px;
	margin-bottom:5px;
	border:0;
	border-radius: 3px;
	background-color: #9EC49D;

}


/************FORMULAIRE ZONE PEDAGO*******************/

/*Etiquette des fomulaires*/
.labelAliment{
	margin-top: 5px;
	margin-bottom: 5px;
}





/*Input des fomulaires*/
.inputAliment{
	margin-top: 5px;
	margin-bottom:5px;
	border:0;
	border-radius: 3px;
	background-color: #9EC49D;

}
