.wrapper{

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*************************************/
/*           NAVIGATION             */
/*************************************/
nav{
    height: 70px;
    background: red;
}
.containerMenu{
    font-family:'Paytone One', sans-serif;
    font-size: 20px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.containerMenu li{
    display: inline-block;
    list-style: none;
}
.containerMenu li a{
    text-decoration: none;
    display: block;
    background-color: grey;
    padding: 1em 2em;
    border-radius: 3px;
}
.containerMenu li a:hover{
    background-color: pink;

}
#menu{
    padding-right: 2em;
}
#logo{
    padding-left: 2em;
}
/*************************************/
/*               MAIN                */
/*************************************/
.containerMain{
    padding: 2em 0;
}


/*************************************/
/*               HOME                */
/*************************************/
.containerInColumn{
    display: block; /*a suprimer quand il y aura du contenu*/
    height: 600px;/*a suprimer quand il y aura du contenu*/
    border:3px solid black;
    border-radius: 3px;
}

/*************************************/
/*               TYPO                 */
/*************************************/
h1{
    font-family:'Paytone One', sans-serif;
    font-size: 40px;
}

h2{
    font-family:'Paytone One', sans-serif;
    font-size: 22px;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}




/*************************************/
/*               FORMULAIRE                */
/*************************************/





/*************************************/
/*               TABLEAU: page listes                 */
/*************************************/


thead{
    font-family:'Paytone One', sans-serif;
    font-size: 18px;
}


/*.vignette{
    width: 100px;
}*/