body {
    background: url('../img/backoffice_background.jpg');
}
img{
    max-width: 256px;
    max-height: 256px;
    width: 100%;
}
.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border:0;
    border-radius: 4px;


}
.subMenu{
    display: none;
    position: absolute;
    top:85px;
    margin: 0;
    padding: 0;
}
.subMenu li{
    display: block!important;
}
.subMenu li a{
    background: #F9D9B1!important;
}
.subMenu li:hover a{
    background-color: #F88C00!important;
}
.menuItem{
    position: relative;
}
.cursor{
    cursor: pointer;
}
/*************************************/
/*           NAVIGATION             */
/*************************************/
nav{
    height: 70px;
    background: ;
}
.containerMenu{
    font-family:'Paytone One', sans-serif;
    font-size: 20px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.containerMenu li{
    color: #FFF;
    display: inline-block;
    list-style: none;
}
.containerMenu li a{
    color: #FFF;
    text-decoration: none;
    display: block;
    background-color: #F88C00;
    padding: 1em 2em;
    border-radius: 3px;
}
.containerMenu li a:hover{
    background-color: #F9D9B1;

}
#menu{
    padding-right: 2em;
}
#logo{
    padding-left: 2em;
}

/*************************************/
/*               MAIN                */
/*************************************/
.centreur {
    min-height: 83vh;
    display: flex;
    align-items: center;
}


main{
     background-color: #517A7C;
}
/*************************************/
/*               HOME                */
/*************************************/
.containerInColumn{
    height: 100%;
    border:0px;
    border-radius: 6px;
    background-color: #517A7C;
}

.containerInColumn li{
    text-decoration: none;
    list-style: none;
    font-size:18px;
}


.containerInColumn li a{
    text-decoration: none;
    list-style: none;
}


.containerInColumn h2{
    color:#F88C00;
}

.explainMenu{
    font-family: 'Montserrat', sans-serif;
    color:#686767;
    font-size:16px;
}

.content{
    background-color: #FFF;
    border: 0;
    border-radius: 6px;
}

.illus{
    background-color: #FFF;
    border: 0;
    border-radius: 6px;
}


.accueil{
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-size:20px;
}
/*************************************/
/*               FOOTER              */
/*************************************/
footer{
    height: 50px;
    display: flex;
    align-items: center;
}
.containerFooter {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.containerFooter a{
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    background: rgba(81,122,124,0.8);
    border-radius: 6px;
    text-shadow: 0px 0px 1px black;
}
.containerFooter a:hover{
    background: rgba(81,122,124,1);
}
/*************************************/
/*               TYPO                 */
/*************************************/
h1{
    font-family:'Paytone One', sans-serif;
    font-size: 40px;
}

h2{
    font-family:'Paytone One', sans-serif;
    font-size: 28px;
}

h3{
    font-family:'Paytone One', sans-serif;
    font-size: 20px;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
/*************************************/
/*             TABLEAU               */
/*************************************/
i{
    color: black;
}
th{
    background: #4B6F71;
    color: white;
}
td{
    vertical-align: middle;
}
tr:nth-child(2n+2){
    background: #689C9F;
}
