#container_carte{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carte{
    height: 90%;
}
.aliment1{
    display: none;
}
.aliment2{
    display: none;
}
.aliment3{
    display: none;
}
.markerRegion{
    z-index: 99999;
    cursor: pointer;
}


.zonePedago{
    background-color: rgba(255,255,255,0.7);
    border:0;
    border-radius: 6px;
    max-width:50%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


.zonePedago h1{
    font-family:'Paytone One', sans-serif;
    font-size: 40px;
}


.pedagoFermer{
    height: 35px;
    width:35px;
    position: absolute;
    top:4px;
    right:4px;
    background: url(../img/cross.svg) no-repeat center center;
}


.vignetteSound{
    width:55px;
}