main{
    background: url('../img/landscape.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#container_carte{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carte{
    height: 90%;
}

#region01, #region02 , #region03 , #region04 , #region05 , #region06 , #region07 , #region08 , #region09 , #region10 , #region11 , #region12 , #region13 , #region14 , #region15 , #region16 , #region17 , #region18 , #region19 , #region20 , #region21 , #region22  {
    fill: #ACC489 !important;
}



.alim{
    display: none;
    z-index: 9000;
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    background-color: rgba(255,255,255,0.7);
    border:0;
    border-radius: 6px;
    overflow-y: auto;
}

.markerRegion{
    z-index: 99999;
    cursor: pointer;
}


.zonePedago p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.zonePedago h1{
    font-family:'Paytone One', sans-serif;
    font-size: 54px;
}


.pedagoFermer{
    height: 35px;
    width:35px;
    position: absolute;
    top:4px;
    right:4px;
    background: url(../img/cross.svg) no-repeat center center;
}


.align{
    align-items: center;
}

/*.pictoSound{
    max-width: 10%
}*/

/*.vignetteSound{
    width:55px;
}
*/
.vignetteAlimentPedago{
    width: 11%;
}

.vignetteAgri{
    width:150px;
}
