
.bouttonEnregistrer{
	background-color: #F88C00;
	font-family:'Paytone One', sans-serif;
	border:0px;
    font-size: 40px;
}


input{
	border: 1px solid black;
	border-radius: 3px;
}

select{
	border: 1px solid black;
	border-radius: 3px;
}


textarea{
	border: 1px solid black;
	border-radius: 3px;
}

