/*bouton enregistrer view aliment + contenu pedago*/
.bouttonEnregistrer{
	background-color: #F88C00;
	color:#FFF;
	font-family:'Paytone One', sans-serif;
	border:0px;
    font-size: 40px;
    border-radius: 4px;
}

/*bouton enregistrer view quizz*/
.bouttonEnregistrerQuizz{
	height:50px;
	background-color: #F88C00;
	color:#FFF;
	font-family:'Paytone One', sans-serif;
	border:0px;
    font-size: 18px;
    border-radius: 4px;
}

/*Label publier brouillon en ligne view aliment + cobntenu pedago*/
.publier{
	font-family:'Paytone One', sans-serif;
	font-size: 26px;
}

/*Label choisissez votre aliment View Quizz + contenu pedago*/
.aliment{
	font-size:18px;
}

/*Labels question View Quizz*/
.question{
	font-size: 25px;
}

.reponse{
	font-size:19px;
}

.elementReponse{
	font-size:19px;
}

/*Général à tous les formulaires*/
input{
	border: 0px solid black;
	border-radius: 3px;
	background-color: #F9D9B1;
}

select{
	border: 0px solid black;
	border-radius: 3px;
	background-color: #F9D9B1;
}


textarea{
	height:113px;
	border: 0px solid black;
	border-radius: 3px;
	background-color: #F9D9B1;
}

label{
	font-size: 18px;
}