body{
    width: 100vw;
    height: 100vh;
    background: #D8D8CD;



    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+1,d8d8cd+4,d8d8cd+81,d8d8cd+100 */
    background: rgb(125,185,232); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(125,185,232,1) 1%, rgba(216,216,205,1) 4%, rgba(216,216,205,1) 81%, rgba(216,216,205,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(125,185,232,1) 1%,rgba(216,216,205,1) 4%,rgba(216,216,205,1) 81%,rgba(216,216,205,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(125,185,232,1) 1%,rgba(216,216,205,1) 4%,rgba(216,216,205,1) 81%,rgba(216,216,205,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#d8d8cd',GradientType=0 ); /* IE6-9 */


}
/************************************/
/*             Debug               */
/************************************/
.debug{
    position: fixed;
    bottom: 0;
    right: 0;
    max-height: 80%;
    overflow-y: scroll;
    z-index: 1000;
    background: #5454a5e6;
}
/************************************/
/*             TOPBAR               */
/************************************/
#navTopBar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    top: 0;left: 0;right: 0;
}
#navTopBar ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;


}
.navAlimentBtn{
    max-height: 64px;
    max-width: 64px;
}
.navAlimentBtn:hover{
    opacity: 0.6;
}
.navAlimentBtn:active {
    margin-top: 2px;
}
.owl-wrapper-outer{
    border-radius: 5px;
}
#navTopBar li{
    list-style: none;
}
#navTopBar li:hover{
    cursor: pointer;
    opacity: 0.8;
}
#owl-demo{
    max-width: 600px;
}
.btn{
    cursor: pointer;
}
/************************************/
/*             LEFTBAR              */
/************************************/
#navLeftBar{
    z-index: 99;
    position: fixed;
    left: 0;top: 0;bottom: 0;
    display: flex;
    align-items: center;
}
#navLeftBar ul{
    margin: 0;
    padding: 0;
}

#navLeftBar li{
    list-style: none;
}
.circle{
    border: 5px solid rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.5);
    margin:10px;
    width:100px;
    height:100px;
    border-radius:100px;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle:hover{
    background: rgba(255,255,255,0.7);
    cursor: pointer;
}
.repasFait{
    background: red;
}

/************************************/
/*            MENU DECO             */
/************************************/
#navDeco{
    z-index: 101;
    position: fixed;
    top: 0;right: 0;
    background: rgba(125,125,125,1);
    cursor: pointer;
}
.decoSubmenu{
    display: none;
    position: fixed;
    top: 70px;right: 20px;
}
.decoSubmenu li{
    list-style: none;
}
.decoSubmenu li a{
    display: block;
}
.decoSubmenu li a:hover{
    background: red;
}
/************************************/
/*          MENU Trophee            */
/************************************/
#navTrophee{
    position: relative;
    z-index: 98;
    position: fixed;
    bottom: 0;right: 0;
    max-width: 245px;
}
#intestin{
    /*max-height: 245px;*/
    width: 100%;
}
#intestin:hover{
    opacity: 0;
}
#intestinEtape1,#intestinEtape2,#intestinEtape3,#intestinEtape4{
    display: none;
}
.containerBulle {
	position: absolute;
	top: 16%;
	right: 63%;
}
#bulle {
	width: 127px;
	height: 57px;
	background: red;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
    padding: 2px 6px;
    text-align: center;
}
#bulle::after {
	content: "";
	position: absolute;
	left: 100%;
	top: 14px;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-left: 26px solid red;
	border-bottom: 13px solid transparent;
}
/************************************/
/*         MENU NavRetour           */
/************************************/
#navReturn {
	display: none;
	z-index: 97;
	position: fixed;
	/*background: url('../img/assiette_dejeuner.svg') no-repeat;*/
	bottom: 0;
	left: 0;
	max-width: 180px;
	width: 16%;
}
.containerBtnBack{
    height: 100%;
    align-items: center;
}
/*******************************/
/* MEDIA QUERIES POUr TABLETTE */
/*******************************/
@media screen and (max-width: 920px){
    /*// reduction des boutons repas*/
    .circle{
        margin:5px;
        width:70px;
        height:70px;
        border-radius:700px;
        text-align:center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*// reduction des icones d'aliment*/
    #navTopBar{
        height: 20px;
    }
}
