body{
    width: 100vw;
    height: 100vh;
    background: #EFDDCB;
}

.cursor{
    cursor: pointer;
}
/************************************/
/*             Debug               */
/************************************/
.debug{
    position: fixed;
    bottom: 0;
    right: 0;
    max-height: 80%;
    overflow-y: scroll;
    z-index: 1000;
    background: #5454a5e6;
}
/************************************/
/*             TOPBAR               */
/************************************/
#navTopBar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    top: 0;left: 0;right: 0;
}
#navTopBar ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.navAlimentBtn{
    max-height: 64px;
    max-width: 64px;
}
.navAlimentBtn:hover{
    opacity: 0.6;
}
.navAlimentBtn:active {
    margin-top: 2px;
}
.owl-wrapper-outer{
    border-radius: 5px;
}
#navTopBar li{
    list-style: none;
}
#navTopBar li:hover{
    cursor: pointer;
    opacity: 0.8;
}
#owl-demo{
    max-width: 600px;
}
.btn{
    cursor: pointer;
}


.reglesAssiettes1{
    font-family:'Paytone One', sans-serif;
    font-size: 20px;
    color:#7A7874;
}

.reglesAssiettes2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color:#7A7874;
}

/************************************/
/*             LEFTBAR              */
/************************************/
#navLeftBar{
    z-index: 99;
    position: fixed;
    left: 0;top: 0;bottom: 0;
    display: flex;
    align-items: center;
}
#navLeftBar ul{
    margin: 0;
    padding: 0;
}

#navLeftBar li{
    font-family:'Paytone One', sans-serif;
    color:#7A7874;
    font-size: 20px;
    list-style: none;
}
.circle{
    /*border: 5px solid rgba(0,0,0,0.5);*/
    background: #EDC977;
    margin:10px;
    width:150px;
    height:150px;
    border-radius:6px;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle:hover{
    background: rgba(255,255,255,0.5);
    cursor: pointer;
}
.repasFait{
    background: #E25647;
}

.already{
    background-color: #F2AE6A;
}

/************************************/
/*            CARTE DE FRANCE             */
/************************************/

.reglesCarte1{
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    font-family:'Paytone One', sans-serif;
    font-size: 20px;
    color:#7A7874;
    z-index: -1;
}

.reglesCarte2{
    width:60%;
    margin:0 auto;
}

/************************************/
/*            MENU DECO             */
/************************************/
#navDeco {
	z-index: 101;
	position: fixed;
	top: 1em;
	right: 1em;
	background: #7A7874;
	cursor: pointer;
	border-radius: 6px;
}

.decoMenu, {
    color:#FFF;
    font-family:'Paytone One', sans-serif;
    font-size: 16px;
}

.decoMenu a, .decoMenu a:hover{
    color:#FFF;
    font-family:'Paytone One', sans-serif;
    font-size: 11px;
}

.mini{
    width: 35px;
}


.decoSubmenu {
	display: none;
	position: fixed;
	top: 95px;
    right: 19px;
	text-align: center;
}

.decoSubmenu li{
    background: #AAA7A2;
    border-radius: 6px;
    list-style: none;
    text-align: center;
}

/*.sousMenu1 li::before{
    content:" ";
    background-image: url("img/thumbs-up.svg");

}

.sousMenu2 li::before{
    content:" ";
    background-image: url("img/cross.svg");

}
*/


.decoSubmenu li a{
    text-decoration: none;
    border-radius: 6px;
    display: block;
}
/*.decoSubmenu li a:hover{
    background: rgb(182, 182, 182);
}
*//************************************/
/*          MENU Trophee            */
/************************************/
#navTrophee{
    position: relative;
    z-index: 98;
    position: fixed;
    bottom: 0;right: 0;
    max-width: 345px;
}
#intestin{
    /*max-height: 245px;*/
    width: 100%;
}


#intestinEtape1,#intestinEtape2,#intestinEtape3,#intestinEtape4{
    display: none;
}
.containerBulle {
	position: absolute;
	top: 16%;
	right: 63%;
}
#bulle {
	width: 127px;
	height: 57px;
	background: red;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
    padding: 2px 6px;
    text-align: center;
}
#bulle::after {
	content: "";
	position: absolute;
	left: 100%;
	top: 14px;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-left: 26px solid red;
	border-bottom: 13px solid transparent;
}
/************************************/
/*         MENU NavRetour           */
/************************************/
#navReturn {
	display: none;
	z-index: 97;
	position: fixed;
	/*background: url('../img/assiette_dejeuner.svg') no-repeat;*/
	bottom: 0;
	left: 0;
	max-width: 180px;
	width: 16%;
}
.containerBtnBack{
    height: 100%;
    align-items: center;
}
/*******************************/
/* MEDIA QUERIES POUr TABLETTE */
/*******************************/
@media screen and (max-width: 920px){
    /*// reduction des boutons repas*/
    .circle{
        margin:5px;
        width:70px;
        height:70px;
        border-radius:700px;
        text-align:center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*// reduction des icones d'aliment*/
    #navTopBar{
        height: 20px;
    }
}
