

/***************WRAPPER**********************/

#wrapper{
	height: 100vh;
	width: 100vw;
}

.backgroundLanding{
	background: url();
	background-color: ;

}



/***************DIV EXPLAIN**********************/


#explainLanding{
	height: 100vh;
	width: 100vw;
	margin: 0 auto;
}



/***************Boutton ON JOUE********************/

.titreLanding{
	font-size:24px;
}



/***************DIV POPIN*************************/

/*Wrapper Popin*/
.wrapperPopin{
	height:100vh;
	width:100vw;
}

.bloc1{
	height:100vh;
	border: 0;
	border-radius: 3px;
	padding-left: 10px;
}


.titreConnect{
	color: #FFF;
	font-family:'Paytone One', sans-serif;
	font-size: 26px;
}



.bloc2{
	height:100vh;
	border: 0;
	border-radius: 3px;
	padding-right: 10px;
}



/*Etiquette des fomulaires*/
.labelLanding{
	margin-top: 5px;
	margin-bottom: 5px;
}


/*/*Input des fomulaires*/
/*.inputLanding{
	margin-top: 5px;
	margin-bottom:5px;
	border:0;
	border-radius: 3px;*/
}*/


/*Message erreur*/
.infoErreur{
	color: black;
	background-color:#E5B7B7;
	width: 400px;
	border:0;
	border-radius: 3px;
}




/*Message reussite*/
.infoReussite{
	color: black;
	background-color: #9EC49D;
	width: 250px;
	border:0;
	border-radius: 3px;
	
}