

/***************WRAPPER**********************/

#wrapper{
	height: 100vh;
	width: 100vw;
}


.playBtn {
    position: relative;
	width: 35%;
	height: 35%;
	background: rgba(161,196,204,0.9);
}
.containerBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
	height: 100vh;
	width: 100vw;
}



/***************Boutton ON JOUE********************/

.titreLanding{
	font-size:24px;
}



/***************DIV POPIN*************************/
/* bouton fermer */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
    cursor: pointer;
	position: fixed;;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 10000;
}
.centreurOverlay{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Wrapper Popin*/
.wrapperPopin {
	max-height: 50vh;
	max-width: 1400px;
}
.wrapperPopin h2{
    display: block;
    width: 100%;
}

.bloc1{
	border: 0;
	border-radius: 3px;
	padding-left: 10px;
}


.titreConnect{
	color: #FFF;
	font-family:'Paytone One', sans-serif;
	font-size: 26px;
}



.bloc2{
	border: 0;
	border-radius: 3px;
	padding-right: 10px;
}



/*Etiquette des fomulaires*/
.labelLanding{
	margin-top: 5px;
	margin-bottom: 5px;
}


/*/*Input des fomulaires*/
/*.inputLanding{
	margin-top: 5px;
	margin-bottom:5px;
	border:0;
	border-radius: 3px;*/
}*/


/*Message erreur*/
.infoErreur{
	color: black;
	background-color:#E5B7B7;
	width: 400px;
	border:0;
	border-radius: 3px;
}




/*Message reussite*/
.infoReussite{
	color: black;
	background-color: #9EC49D;
	width: 250px;
	border:0;
	border-radius: 3px;

}
