#quizzForm{
    background: rgba(255,255,255,0.7);
    border-radius: 10px;
}
h3{
    text-decoration: underline;
    color: red;
}
.quizzAliment{
    margin: 0 auto;
    max-width: 400px;
}
label{
    width: 500px;
    display: block;
}
.containerQuizz{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/*Style Page de Résultat*/
#titreGlobal{
    text-align: center;
}
.globalResult{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;;
}
.containerAliment{
    width: 400px;
}
h4{
    text-align: center;
}
.questionUnite{
    margin: 10px;
}
